* {
  box-sizing: border-box;
}

.container {
  width: 600px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.item_list {
  margin-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
}
.item_list .item_company {
  margin-bottom: 10px;
}

.item_list a {
  text-decoration: none;

  font-weight: bold;
}

.search_container {
  text-align: center;
}

.search_container button {
  margin-left: 5px;
  cursor: pointer;
}
.search_container form {
  margin-bottom: 10px;
}
.search_container input {
  line-height: 20px;
  height: 20px;
  padding: 2px;
  border: 1px solid;
  outline: none;
}
